

   <nav class="navbar navbar-expand-lg navbar-dark " style=" background-color:#111166">
 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav navbar-bright">
        <a class="nav-link"  routerLink="/"  >Home</a>
        <a class="nav-link"  routerLink="/books" >Books</a>
          <a class="nav-link"  routerLink="/authors"  >Authors</a>
          <a class="nav-link"  routerLink="/login"  >Login</a>
          <a class="nav-link"  routerLink="/signup"  >Signup</a>


          <!-- <a class="nav-link"  routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Admin Panel</a> -->
          <!-- <a class="nav-link"  style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()">Add New Book</a> -->
          <!-- <a class="nav-link"  style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="loggedUser()">Add New Author</a> -->
          <!-- <a class="nav-link"  style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Logout</a> -->
      </ul>
    </div>
  </nav>   

  <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Add Book
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
        
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <form action="/addbook/add"  form method="GET">
              <label for="">  Title :</label><br>
             <input type="text" name="title"><br>
              <label for=""> Author:</label><br>
              <input type="text" name="author"><br>
              <label for="">Genre :</label><br>
              <input type="text" name="genre"><br>
              <label for=""> Image</label> <input type="file" name="image"><br>
              <button type="submit">Add</button>

            </form>
            
            <!--/stories-->
            
            
           
          
            
          </div>
        </div>
                                                                                         
                                                    
                                                        
       </div><!--/col-12-->
    </div>
  </div>
                                                  
                                                                                  

  
  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
       <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
       <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
        </div>
        <div class="col-sm-6">
            <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
        </div>
      </div>
    </div>
  </footer>
    <!-- script references -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    
  

